<!doctype html>
<html ng-app="calendarApp">
    <head>
        <title>Angular Mess</title>
        <link rel="stylesheet" href="lib/fullcalendar/fullcalendar.css">
        <link rel="stylesheet" href="lib/foundation-4.2.3/css/foundation.min.css">

        <script type="text/javascript" src="lib/jquery/jquery.js"></script>
        <script type="text/javascript" src="lib/jquery-ui/ui/jquery-ui.js"></script>
        <script type="text/javascript" src="lib/angular/angular.js"></script>
        <script type="text/javascript" src="lib/jqlite-1.1.1/jqlite.1.1.1.js"></script>
        <script type="text/javascript" src="lib/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="lib/fullcalendar/gcal.js"></script>
        <script type="text/javascript" src="lib/angular-ui-calendar/src/calendar.js"></script>
        <script type="text/javascript" src="lib/foundation-4.2.3/js/foundation.min.js"></script>
		
    </head>
    <body ng-controller="MainController">
        <!--Header-->
        <nav class="top-bar">
            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="name"><a ng-click="openHome('home')">{{ homeTab }}</a></li>
                    <li class="divider"></li>
                    <li class="active"><a ng-click="openCalendar('calendar')">{{ calendarTab }}</a></li>
                    <li class="divider"></li>
                    <li><a>{{ mapTab }}</a></li>
                    <li class="divider"></li>
                </ul>

                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="divider"></li>
                        <li class="has-form">
                            <form>
                                <div class="row collapse">
                                    <div class="small-8 columns">
                                    <input type="text">
                                </div>
                                <div class="small-4 columns">
                                    <a class="alert button">{{ searchTab }}</a>
                                </div>
                                </div>
                            </form>
                         </li>
                    <li class="divider show-for-small"></li>
                    <li class="has-form">
                        <a class="button" ng-click="logoutButton('logout')">{{ logoutTab }}</a>
                    </li>
                </ul>
            </section>
        </nav>
        <!--//Header-->

        <!--Content-->
        <div class="content">
            <!--Placeholder for views-->
            <div ng-view=""></div>
        </div>
        <!--//Content-->

        <!--foundation modal-->
        <div id="myModal" class="reveal-modal">
            <form>
                <fieldset>
                    <legend>{{ addEvent }}</legend>
                    <input type="text" id="startDate" newEvent.start/>
                    <input type="text" id="endDate" newEvent.end/>
                    <input type="text" id="eventTitle" placeholder="Input Title" ng-model="newEvent.title"/>
                    <input type="text" id="address" placeholder="Input address"/>
                    <a id= "cancelAdd" class="button secondary">{{ cancelBtn }}</a>
                    <a id="sendAdd" class="button success">{{ sendBtn }}</a>
                </fieldset>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="editModal" class="reveal-modal">
            <form>
                <fieldset>
                    <legend>{{ editEvent }}</legend>
                    <input type="text" id="editDate" newEvent.start/>
                    <input type="text" id="editTitle" placeholder="Input Title" ng-model="newEvent.title"/>
                    <input type="text" id="editAddress" placeholder="Input address"/>
                    <a id ="editCancel" class="button secondary">{{ cancelBtn }}</a>
                    <a id="editSend" class="button success">{{ sendBtn }}</a>
                    <a id="editDelete" class="button" ng-click="remove($index)">{{ deleteBtn }}</a>
                </fieldset>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <!--//foundation modal-->

        <!--application-->
        <script type="text/javascript" src="js/app.js"></script>
        <!--controllers-->
        <script type="text/javascript" src="js/controllers/LoginController.js"></script>
        <script type="text/javascript" src="js/controllers/CalendarController.js"></script>
        <script type="text/javascript" src="js/controllers/MainController.js"></script>
        <script type="text/javascript" src="js/controllers/HomeController.js"></script>
        <script type="text/javascript" src="js/controllers/LogoutController.js"></script>
        <script type="text/javascript" src="js/controllers/AddEventController.js"></script>
        <!--factories-->
        <script type="text/javascript" src="js/factories/eventsFactory.js"></script>
        <script type="text/javascript" src="js/factories/AuthenticationService.js"></script>
        <!--custom directives-->
        <script type="text/javascript" src="js/directives/focus.js"></script>
    </body>
</html>
